<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    {% include "head.html" %}
 <br><br><br>
  <div>
     <div align="left"><table align="left">
   <font size="8" >

    <tr>
        <td>
        <a href="/empviewuser/">
            View User</a></td>
    </tr>
       <tr>
        <td>
        <a href="/empaddproduct/">
             Add Product</a></td>
    </tr>

    <tr>
        <td>
        <a href="/empviewproduct/">
             View Product</a></td>
    </tr>
    <tr>
        <td>
        <a href="/index/">
            Signout</a></td>
    </tr>
   </font>

</table></div>
      <div align="right">
          <table align="center" border="2">
    <tr><th colspan="12"><font size="5" face="Arial Black" ><center> Product Details</center></font></th></tr>
<tr>
    <th>PRODUCT ID</th>
    <th>PRODUCT NAME</th>
    <th>PRODUCT Category</th>
    <th>PRODUCT Description</th>
    <th>OWNER</th>
    <TH>PHONE NO</TH>
    <th>EMAIL ID</th>
    <th> POST DATE</th>
    <TH>COST</TH>
    <TH>IMAGE</TH>

</tr>
    {% for x in object_list %}
        <tr>
    <th>{{ x.productId }}</th>
    <th>{{ x.productName }}</th>
    <th>{{ x.productCategory }}</th>
    <th>{{ x.productDescription }}</th>
    <th>{{ x.owner }}</th>
    <th>{{ x.phoneNo }}</th>
    <th> {{ x.emailId }}</th>
    <th> {{ x.pastDate }}</th>
    <th> {{ x.cost }}</th>
    <th> <img src="{{ x.image.url }}" width="100" height="100"></th>

</tr>

    {% endfor %}
    <tr>
    </tr>
</table></div></div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
