<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    {% include "head.html" %}
 <br><br><br>
  <div><div align="left"><table align="left">
   <font size="8" ><tr><td><a href="/createemp/">Create Employee</a></td></tr>
    <tr><td><a href="/viewemp/">View Employee</a></td></tr>
     <tr>
        <td>
        <a href="/addcategories/">
             Add Categories</a></td>
    </tr>
    <tr>
        <td>
        <a href="/viewcategories/">
             View Categories</a></td>
    </tr>
       <tr>
        <td>
        <a href="/addproduct/">
             Add Product</a></td>
    </tr>

    <tr>
        <td>
        <a href="/viewproduct/">
             View Product</a></td>
    </tr>
    <tr>
        <td>
        <a href="/viewuser/">
             View Users</a></td>
    </tr>
    <tr>
        <td>
        <a href="/changepass/">
            Change Password</a></td>
    </tr>
    <tr>
        <td>
        <a href="/index/">
            Signout</a></td>
    </tr>
   </font>

</table></div>
      <div align="right"><table align="center" border="2">
    <tr><th colspan="9"><font size="5" face="Arial Black" ><center> Categories Details </center></font></th></tr>
<tr>
    <th>Category Id</th>
    <th>CategoryName</th>
    <th>Description</th>
    <th>
        UPDATE
    </th>
    <TH>DELETE</TH>

</tr>
    {% for x in object_list %}
         <tr>
    <th>{{ x.categoriesID }}</th>
    <th>{{ x.categoriesNAME }}</th>
    <th>{{ x.description }}</th>
    <th>
      <a href="/updatecategories{{ x.categoriesID }}/" >
        Yes
      </a>
     </th>
    <th>
        <form action="/deletecategories{{ x.categoriesID }}/" method="post">
            {% csrf_token %}<center>
            <input type="submit" value="delete"></center>
            </form>
     </th>

</tr>

    {% endfor %}
</table></div></div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
